<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attribute</title>
</head>
<body>
<input type="text" name="mock" th:name="A" />
<input type="text" class="text" th:attrappend="class='large'" />
<input type="text" class="text" th:attrprepend="class='large'" />
<input type="text" class="text" th:classappend="large" />
<input type="checkbox" name="active" th:checked="true" />
<input type="checkbox" name="active" th:checked="false" />
<input type="checkbox" name="active" checked="false" />
</body>
</html>